


<h2>Students</h2>
 
    <form>
      <input class="input-style" type="text" placeholder="Enter name" [(ngModel)]="student.name" name="name" required />
      <input class="input-style" type="number" placeholder="Enter age" [(ngModel)]="student.age" name="age" required />
      <input class="input-style" type="number" placeholder="Enter grade" [(ngModel)]="student.grade" name="grade" required />
      <input class="input-style" type="text" placeholder="Enter subjects" [(ngModel)]="student.subjects" name="subjects" required />
      <label>is enrolled?</label>
      <select name="Enrolled" id="" [(ngModel)]="student.isEnrolled" name="is enrolled" required>
        <option value="true">yes</option>
        <option value="false">no</option>
      </select>
      <input class="input-style" type="text" placeholder="Enter address" [(ngModel)]="student.address.street" name="street" required />
      <input class="input-style" type="text" placeholder="Enter city" [(ngModel)]="student.address.city" name="city" required />
      <input class="input-style" type="text" placeholder="Enter Zip" [(ngModel)]="student.address.zip" name="zip" required />
      <button (click)="submit()">submit</button>
    </form>



  <app-display-data 
     [studentData]="studentArr" 
     (deleteId)="deleteStudent($event)"
      (editId)="editStudent($event)"
     ></app-display-data>




<!-- <div class="displayData">
    <div class="student-info" *ngFor="let st of studentArr  let index=index" >
        <h2>Student Info</h2>
        <p>Name: {{ st.name }}</p>
        <p>Age: {{ st.age }}</p>
        <p>Grade: {{ st.grade }}</p>
        <p>Subjects: {{ st.subjects }}</p>
        <p>Enrolled: {{ st.isEnrolled ? 'Yes' : 'No' }}</p>
   
        <h3>Address</h3>
        <p>Street: {{ st.address.street }}</p>
        <p>City: {{ st.address.city }}</p>
        <p>ZIP: {{ st.address.zip }}</p>
        <button (click)="delete(index)">DELETE</button>
        <button (click)="edit(index)">EDIT</button>
        <input type="checkbox" name="" id="">
    </div>
   


</div>


<button>DELETE SELECTED</button> -->
