<div class="displayData">

    <app-card  
        *ngFor="let st of studentData  let index=index"
        [student]="st"
        [index]="index"
        (deleteId)="deleteStudent($event)"
        (editId)="editStudent($event)"
       ></app-card>



    <!-- <div class="student-info" *ngFor="let st of studentData  let index=index" >
        <h2>Student Info</h2>
        <p>Name: {{ st.name }}</p>
        <p>Age: {{ st.age }}</p>
        <p>Grade: {{ st.grade }}</p>
        <p>Subjects: {{ st.subjects }}</p>
        <p>Enrolled: {{ st.isEnrolled ? 'Yes' : 'No' }}</p>
   
        <h3>Address</h3>
        <p>Street: {{ st.address.street }}</p>
        <p>City: {{ st.address.city }}</p>
        <p>ZIP: {{ st.address.zip }}</p>
        <button (click)="delete(index)">DELETE</button>
        <button (click)="edit(index)">EDIT</button>
        <input type="checkbox" name="" id="">
    </div>
    -->


</div>




