// .mainBtn{
//     width: 200px;
//     height: 40px;
//     border: none;
//     border-radius: 10px;
// }


.bgColorBlue {
    background-color: rgb(93, 157, 182);
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
}


.bgColorGreen {
    background-color: rgb(5, 163, 21);
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
}